html {
  background-color: gray;
}
body {
  margin: 0px;
}
nav {
  height: 15%;
}
#navbar {
  justify-content: flex-end;
  display: flex;
  position: fixed;
  background-color: darkgray;
  width: 100%;
  box-shadow: 0 2px 0 rgba(0, 0, 0.4);
}
#navlist {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
nav ul.navlist li.hover {
  background-color: brown;
}
#navlist a {
  color: lime;
  text-decoration: none;
  padding: 1rem;
}
#navlist a:hover {
  background-color: #fffddb;
}
li {
  padding: 20px;
  list-style: none;
  font-size: 2rem;
}
.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: cornflowerblue;
}
h1 {
  color: darkmagenta;
}
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}
#contacts a {
  text-decoration: none;
}
.project-grid img {
  width: 100%;
}
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}
