main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
    padding: .8rem;
    justify-content: center;
  }

.picDivs {
    width: 75%;
    padding-top: 1rem;
}

.chardivs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scene {
  width: 200px;
  height: 260px;
  border: 1px solid #CCC;
  margin: 0px 0;
  perspective: 600px;
  background-color: aqua;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  text-align: center;
  font-weight: bold;
  font-size: 16pt;
  backface-visibility: hidden;
}

.card__face--front {
  color: black;
}

.card__face--back {
  transform: rotateY(180deg);
}

h3 {
  margin: 0;
}

#newPoke {
  color: black;
  background-color: azure;
  display: flex;
  width: 500px;
  height: 5rem;
  justify-content: center;
  border-radius: 20px;
  font-size: 24pt;
  margin: 20rem;
}